.mainDiv{
    overflow: hidden;
}
.navDiv{
    float:left;
    padding-bottom: 1000px;
    position: fixed;
    margin:0;
}
.homeDiv{
    float:left;
    /* margin:28px; */
    width:100%;
    margin-left:60px;
}

.imageBox{
    width:30ch;
    height:40vh;
}
.cancelButton {
    /* style={{backgroundColor:"rgb(7, 146, 123)",border:"1px solid rgb(7, 146, 123)"}} */
    background-color: rgb(218, 69, 69);
    margin-left:1%;
    border: 1px solid rgb(218, 69, 69);
  }

  .cancelButton:hover{
    background-color: rgb(211, 118, 118);
    border: 1px solid rgb(211,118, 118);
  }
  
.floatR{
    float:right;
}

.buttonButton{
    /* style={{backgroundColor:"rgb(7, 146, 123)",border:"1px solid rgb(7, 146, 123)"}} */
    background-color:rgb(7, 146, 123);
    border:1px solid rgb(7, 146, 123);
}

.buttonButton:hover{
    background-color:rgb(16, 102, 88);
    border: 1px solid rgb(16, 102, 88);
}

