.mainDiv {
  overflow: hidden;
}
.navDiv {
  float: left;
  padding-bottom: 1000px;
  position: fixed;
  top: 0;
}
.homeDiv {
  float: right;
  margin: 15px;
  z-index: -1;
}

.coverImage {
  background-image: url(https://www.erieinsurance.com/-/media/images/blog/articlephotos/2018/rentalcarlg.ashx);
  background-size: cover;
  height: 30vh;
}

.buttonButton {
  /* style={{backgroundColor:"rgb(7, 146, 123)",border:"1px solid rgb(7, 146, 123)"}} */
  background-color: rgb(7, 146, 123);
  border: 1px solid rgb(7, 146, 123);
}


.buttonButton:hover{
    background-color:rgb(16, 102, 88);
    border: 1px solid rgb(16, 102, 88);
}

.bookButton {
  /* style={{backgroundColor:"rgb(7, 146, 123)",border:"1px solid rgb(7, 146, 123)"}} */
  background-color: rgb(7, 146, 123);
  border: 1px solid rgb(7, 146, 123);
  float:right;
  
}

.bookButton:hover{
    background-color:rgb(16, 102, 88);
    border: 1px solid rgb(16, 102, 88);
}

.listItem{
margin:2px;
}

.inputForm {
    padding: 20px;
    float: center;
    clear: both;
    height:50vh;
    width:80ch;
  }

  .headText{
    font-size: 24px;
  }